@model FollowSort.Data.Artist

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SourceSite" class="control-label"></label>
                <select asp-for="SourceSite" class="form-control">
                    @foreach (object value in Enum.GetValues(typeof(FollowSort.Data.SourceSite))) {
                        <option value="@((int)value)">@((FollowSort.Data.SourceSite)value)</option>
                    }
                </select>
                <span asp-validation-for="SourceSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IncludeRepostedPhotos" checked /> @Html.DisplayNameFor(model => model.IncludeRepostedPhotos)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IncludeNonPhotos" checked /> @Html.DisplayNameFor(model => model.IncludeNonPhotos)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IncludeRepostedNonPhotos" checked /> @Html.DisplayNameFor(model => model.IncludeRepostedNonPhotos)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TagFilterStr" class="control-label"></label>
                <input asp-for="TagFilterStr" class="form-control" />
                <span asp-validation-for="TagFilterStr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Nsfw" /> @Html.DisplayNameFor(model => model.Nsfw)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
