@using FollowSort.Data
@model IList<Notification>
@{
    ViewData["Title"] = "Index";

}

<style type="text/css">
    label.select-all {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>

<script type="text/javascript">
    window.addEventListener("load", function () {
        $("label.select-all input[type=checkbox]").change(function (e) {
            var checkbox = e.target;
            var parent = checkbox;
            while (!parent.classList.contains("notification-section") && parent.parentElement) {
                parent = parent.parentElement;
            }
            $("input.individual[type=checkbox]", parent).each(function (i, e) {
                e.checked = checkbox.checked;
            });
        });
    });
</script>

<script src="~/js/refresh.js"></script>

<div id="notifications">
    <h2>Notifications (@Model.Count)</h2>

    <form action="/Notifications/Refresh" method="post">
        <button id="refreshButton" type="submit" class="btn btn-primary">Refresh notifications</button>
    </form>

    <form action="/Notifications/Remove" method="post">
        @Html.AntiForgeryToken()

        @if (Model.Any(n => !n.TextPost && !n.Repost)) {
            <h3>Original Photos</h3>

            <div class="notification-section">
                <label class="select-all">
                    <input type="checkbox" />
                    Select all
                </label>
                <br />
                @foreach (var n in Model.Where(n => !n.TextPost && !n.Repost)) {
                    <div style="position: relative; width: 200px; height: 200px; display: inline-flex; flex-direction: column; text-align: center">
                        <input type="checkbox" class="individual" name="chk@(n.Id)" style="flex: 0 0 32px" />
                        <a href="@n.Url" style="flex: 1 1 auto; display: flex; flex-direction: column">
                            <div style="flex: 1 1 auto; background: url('@n.ThumbnailUrl') no-repeat center; background-size: contain"></div>
                            <div style="flex: 0 0 auto; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis">
                                @n.Name
                            </div>
                            <div style="flex: 0 0 auto; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis">
                                @n.ArtistName
                            </div>
                        </a>
                    </div>
                }
            </div>
        }

        @if (Model.Any(n => !n.TextPost && n.Repost)) {
            <h3>Reposted Photos</h3>

            <div class="notification-section">
                <label class="select-all">
                    <input type="checkbox" />
                    Select all
                </label>
                <br />
                @foreach (var n in Model.Where(n => !n.TextPost && n.Repost)) {
                    <div style="position: relative; width: 200px; height: 200px; display: inline-flex; flex-direction: column; text-align: center">
                        <input type="checkbox" class="individual" name="chk@(n.Id)" style="flex: 0 0 32px" />
                        <a href="@n.Url" style="flex: 1 1 auto; display: flex; flex-direction: column">
                            @if (n.RepostedByArtistName != null) {
                                <div style="flex: 0 0 auto; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis">
                                    Reposted by @n.RepostedByArtistName
                                </div>
                            }
                            <div style="flex: 1 1 auto; background: url(@n.ThumbnailUrl) no-repeat center; background-size: contain"></div>
                            <div style="flex: 0 0 auto; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis">
                                @n.Name
                            </div>
                            <div style="flex: 0 0 auto; white-space: nowrap; overflow-x: hidden; text-overflow: ellipsis">
                                @n.ArtistName
                            </div>
                        </a>
                    </div>
                }
            </div>
        }

        @if (Model.Any(n => n.TextPost && !n.Repost)) {
            <h3>Other Posts</h3>

            <div class="notification-section">
                <label class="select-all">
                    <input type="checkbox" />
                    Select all
                </label>
                <br />
                @foreach (var n in Model.Where(n => n.TextPost && !n.Repost)) {
                    <div>
                        <input type="checkbox" class="individual" name="chk@(n.Id)" />
                        @n.ArtistName:
                        <a href="@n.Url">
                            @n.Name
                        </a>
                    </div>
                }
            </div>
        }

        @if (Model.Any(n => n.TextPost && n.Repost)) {
            <h3>Other Reposts</h3>

            <div class="notification-section">
                <label class="select-all">
                    <input type="checkbox" />
                    Select all
                </label>
                <br />
                @foreach (var n in Model.Where(n => n.TextPost && n.Repost)) {
                    <div>
                        <input type="checkbox" class="individual" name="chk@(n.Id)" />
                        @n.ArtistName:
                        <a href="@n.Url">
                            @n.Name
                        </a>
                        @if (n.RepostedByArtistName != null) {
                            @:(reposted by @n.RepostedByArtistName)
                        }
                    </div>
                }
            </div>
        }

        <div style="text-align: right">
            <label class="select-all">
                <input type="checkbox" />
                Select all notifications
            </label>
            <br />
            <button type="submit" class="btn btn-danger">Remove selected</button>
        </div>
    </form>
</div>
